In [1]:
import numpy as np
import pandas as pd

In [47]:
movies_df = pd.read_csv('movies.csv', index_col=0)
ratings_df = pd.read_csv('ratings.csv', index_col=0)

movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10329 entries, 1 to 149532
Data columns (total 2 columns):
title     10329 non-null object
genres    10329 non-null object
dtypes: object(2)
memory usage: 242.1+ KB

In [4]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_train = pd.read_csv('ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [34]:
ratings_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90570 entries, 0 to 90569
Data columns (total 4 columns):
user_id           90570 non-null int64
movie_id          90570 non-null int64
rating            90570 non-null int64
unix_timestamp    90570 non-null int64
dtypes: int64(4)
memory usage: 2.8 MB

In [52]:
movies_df.head(10)

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller